/* Fonts */
/* Colors */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  color: white;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  border-radius: 4px;
  max-width: 200px;
  text-align: center;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button {
    min-width: 200px;
    padding: 10px 32px;
  }
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.current {
  color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.current__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  background: white;
  border: 1px solid #eeeeee;
}

.link {
  color: #212121;
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.adress {
  margin-top: 20px;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .adress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .adress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress-list {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .adress-item {
    margin-bottom: 9px;
  }
  .adress-item:last-child {
    margin-bottom: 0px;
  }
}

.street {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .container-social {
    margin-bottom: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container-social {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .container-social {
    width: auto;
    margin-right: auto;
  }
}

.social-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 767px) {
  .social-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .social-text {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .social-text {
    text-align: start;
    padding-top: 12px;
    margin-bottom: -10px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-right: auto;
  margin-left: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.soc-link {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 32px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.contact__list {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .contact__list:last-child {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .contact__list {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact__tel-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: auto;
  color: #2196f3;
}
@media screen and (max-width: 336px) {
  .contact__tel-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 337px) {
  .contact__tel-link {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contact__tel-link {
    margin-right: 30px;
    font-size: 14px;
    color: #757575;
  }
}

@media screen and (max-width: 767px) {
  .contact__mail-link {
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .contact__mail-link {
    margin-right: 15px;
    margin-left: auto;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .contact__mail-link,
.contact__tel-link {
    display: inline-block;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact__mail-link,
.contact__tel-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 22px 6px;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__mail-link:hover, .contact__mail-link:focus,
.contact__tel-link:hover,
.contact__tel-link:focus {
    color: #2196f3;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
  }
}
.contact__icon:hover, .contact__icon:focus {
  color: #2196f3;
}

.customers-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 0px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .customers-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  height: 92px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-icon {
  fill: currentColor;
}

.feature__list {
  width: 270px;
}

.feature {
  padding-top: 0px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.feature .title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .feature .title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature .feature__list-astronaut,
.feature .feature__list-diagram,
.feature .feature__list-clock,
.feature .feature__list-antenna {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature .feature__list-astronaut,
.feature .feature__list-diagram,
.feature .feature__list-clock,
.feature .feature__list-antenna {
    width: calc((100% - 90px) / 4);
  }
}
.feature .text {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-top: 0px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-item {
  margin-right: 8px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-item:last-child {
  margin-right: 0px;
}

.button-filter-all {
  padding: 6px 22px;
  text-align: center;
  border: none;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter-all:hover, .button-filter-all:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter {
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    aign-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .container-contacts,
.container-social {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .container-contacts,
.container-social {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 60px;
  }
}

.site-logo-footer {
  color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 767px) {
  .site-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .site-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
  }
}

.secondary-current {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.modal-form {
  max-width: 448px;
  height: 342px;
  margin-bottom: 10px;
  margin-right: 0;
}

.form-label {
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  color: #757575;
}

.form-field:not(:last-child) {
  margin-bottom: 0;
}

.modal-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #2196f3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon {
  fill: #2196f3;
}

.form-text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text:focus {
  border-color: #2196f3;
}
.form-text:focus:placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*Checkbox*/
.check-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
@media screen and (max-width: 479px) {
  .check-text {
    font-size: 8px;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:focus + .icon-checkbox {
  border-color: 2px solid var(--current-color);
}
.modal-check:checked + .icon-checkbox {
  background-color: #2196f3;
  border: #2196f3;
}

.icon-check {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  top: 50%;
  opacity: 0;
  margin-right: 8px;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .icon-checkbox .icon-check {
  opacity: 1;
}

.check-link {
  color: #2196f3;
}

.button-check {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 52px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-check:hover, .button-check:focus {
  background-color: #188ce8;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
  background-color: white;
}
.header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .menu-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: #212121;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover,
.menu-btn:focus {
  color: #2196f3;
}

.contact__icon .icone-close,
.icon-menu {
  padding: 10px;
}

.icon-close {
  display: none;
  margin-left: auto;
  margin-bottom: 30px;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu.is-open {
    display: block;
    overflow-y: scroll;
    pointer-events: all;
  }
}
@media screen and (max-width: 767px) and (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 429px) {
  .menu .menu-container {
    padding: 40px 0;
  }
  .menu .menu-container .menu-container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 430px) and (max-width: 439px) {
  .menu .menu-container {
    padding: 40px 0;
  }
  .menu .menu-container .menu-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .menu .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    top: 0;
    left: 0;
    padding: 48px 20px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .mobile-soc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-soc {
    display: none;
  }
}

.mobile-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .mobile-soc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-soc {
    display: none;
  }
}

.mobile-soc__item:nth-child(1) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-soc__item:nth-child(2) {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-soc__item:nth-child(3) {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-soc__item:nth-child(4) {
  padding-left: 10px;
}

.mobile-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 350px) {
  .mobile-soc__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 350px) and (max-width: 430px) {
  .mobile-soc__link {
    font-size: 16px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 94px, 15px;
    overflow-y: auto;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (max-width: 330px) {
  .modal {
    padding: 40px 10px;
  }
}
@media screen and (min-width: 331px) and (max-width: 470px) {
  .modal {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 330px) {
  .modal {
    padding: 40px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 470px) {
  .modal {
    padding: 40px 20px;
    height: 609px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    padding: 40px;
  }
}
@media screen and (max-width: 767px) and (max-width: 1199px) {
  .modal {
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.modal-close:hover, .modal-close:focus {
  color: #2196f3;
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .navigation,
.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .navigation,
.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation,
.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.current-item {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .current-item {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .current-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .current-item {
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    padding: 32px 0;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation__item-menu:last-child {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item-menu {
    margin-right: 50px;
  }
}
.navigation__item-menu:last-child {
  margin-right: 0px;
}
@media screen and (min-width: 1200px) {
  .navigation__item-menu {
    margin-right: 50px;
  }
  .navigation__item-menu:last-child {
    margin-right: 0px;
  }
}

.main-nav > .logo__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .main-nav > .logo__header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .main-nav > .logo__header {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 15px;
    margin-right: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav > .logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.active {
  position: relative;
}
.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .container-online {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .container-online {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container-online {
    width: 570px;
    height: 86px;
    margin-left: auto;
  }
}

.online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .online-title {
    text-align: start;
  }
}

.online-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .online-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .online-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .online-form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.online-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .online-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    max-width: 450px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 570px;
    height: 50px;
    margin-right: 12px;
  }
}
.online-input:placeholder {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.online-input:focus {
  border-color: white;
}
.online-inputt:focus::-webkit-input-placeholder {
  color: white;
}
.online-inputt:focus::-moz-placeholder {
  color: white;
}
.online-inputt:focus:-ms-input-placeholder {
  color: white;
}
.online-inputt:focus::-ms-input-placeholder {
  color: white;
}
.online-inputt:focus::placeholder {
  color: white;
}

.online-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 28px;
  border-radius: 4px;
  max-width: 200px;
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-button:hover, .online-button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .online-button {
    min-width: 200px;
    height: 50px;
  }
}

.online-icon {
  margin-left: 10px;
  margin-right: 0;
}

.flex-filter {
  margin-bottom: 50px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}

.project-list {
  max-width: 450px;
  margin-bottom: 60px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  .project-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list {
    width: calc((100% - 60px) / 3);
  }
}

.project-top-list {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.project-list:hover .top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-img {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-img:hover, .project-img:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .project-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.project-list-title {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project-title {
  margin: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  margin: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  padding: 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
  color: white;
}

.team__social-network {
  max-width: 44px;
  max-height: 44px;
}

.team__social-icon {
  fill: currentColor;
}

.team {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title--color-dark {
  color: #212121;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__item {
  background-color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__item img {
  width: auto;
}

.team__name-img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.section__title-main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .section__title-main {
    width: 100%;
    padding: 118px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mob.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section__title-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section__title-main {
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__title-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section__title-main {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__title-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-2x.jpg);
  }
}

.container__title-main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .container__title-main {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__title-main {
    width: 1200px;
  }
}

.main__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Roboto", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .main__title {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .main__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title--color-light {
  color: white;
}

.work {
  padding-top: 0px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-decoration: none;
}

.work__item {
  display: block;
}

.work__title-label {
  position: relative;
  bottom: 0;
}

.work__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  height: 70px;
  width: 370px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.about-work {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */