.adress {
  margin-top: 20px;

  font-style: normal;
}
.adress-list {
  @include mobile-max {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include desktop {
    display: block;
    flex-direction: column;
  }
}
.adress-item {
  @include desktop {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.street {
  color: $mainLightColor;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contacts {
  color: $TextColorSecondary;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    width: 100%;
  }

  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: auto;

    margin-right: auto;
  }
}

.social-text {
  @include mobile-max {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $mainLightColor;
  @include tablet {
    text-align: start;

    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  @include desktop {
    text-align: start;

    padding-top: 12px;
    margin-bottom: -10px;
  }
}
.social-list {
  display: flex;
  gap: 10px;
  margin-right: auto;
  margin-left: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  @include tablet {
    justify-content: flex-start;
  }
}

.soc-link {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color $TransitionTimingFunction;
  &:hover,
  &:focus {
    background-color: $CurrentColor;
  }
}
