.contact {
  @include mobile-max {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 32px;
    margin: 0;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: 0px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: flex-end;
  }
}
.contact__list {
  color: $SecondaryColor;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $TransitionTimingFunction;

  @include tablet {
    margin-left: 0px;
  }
  @include desktop {
    display: flex;
    margin-right: 30px;
    .contact &:last-child {
      margin-right: 0px;
    }
  }
}
.contact__tel-link {
  @media screen and (max-width: 336px) {
    font-size: 24px;
  }
  @media screen and (min-width: 337px) {
    font-size: 34px;
  }
  font-weight: 500;

  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: auto;
  color: $CurrentColor;

  @include tablet {
    padding-bottom: 20px;
    font-size: 14px;
    color: $SecondaryColor;
  }
}
.contact__mail-link {
  @include mobile-max {
    color: $SecondaryColor;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color $TransitionTimingFunction;
  }
  @include tablet {
    padding-top: 20px;
    margin-left: auto;
    color: $SecondaryColor;
  }
}
.contact__mail-link,
.contact__tel-link {
  @include tablet {
    display: inline-block;
    fill: currentColor;
  }
  @include desktop {
    display: flex;
    align-items: center;
    margin-right: 0px;
    color: $SecondaryColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $TransitionTimingFunction;
    &:hover,
    &:focus {
      color: $CurrentColor;
    }
  }
}
.contact__icon {
  @include mobile-max {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    display: none;
  }
  padding: 10px;
  fill: currentColor;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
  &:hover,
  &:focus {
    color: $CurrentColor;
  }
}
