.contact {
  margin-bottom: 64px;
  @include desktop {
    margin-left: auto;
  }
}
.contact__list {
  @include mobile-max {
    display: flex;
    flex-direction: column-reverse;
  }
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    flex-wrap: wrap;
    gap: 50px;
  }
  color: $SecondaryColor;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $TransitionTimingFunction;
  .contact &:last-child {
    margin-right: 0px;
  }
}
.contact__tel-link {
  @include mobile-max {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-top: auto;
    color: $CurrentColor;
  }
}
.contact__mail-link,
.contact__tel-link {
  @include mobile-max {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: space-between;
  }
  @include tablet {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
  }
  @include desktop {
    display: flex;
    align-items: center;
    padding: 22px 6px;
  }
  color: $SecondaryColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $TransitionTimingFunction;
  &:hover,
  &:focus {
    color: $CurrentColor;
  }
}

.contact__icon {
  @include mobile-max {
    display: flex;
    flex-direction: column-reverse;
  }
  @include tablet {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
  }
  background-position: center;
  background-size: contain;
  &:hover,
  &:focus {
    color: $CurrentColor;
  }
}
//
