.feature__list {
  width: 270px;
}

.feature {
  padding-top: 0px;
  padding-bottom: 0px;
  @include desktop {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include mobile-max {
      text-align: center;
    }
    text-align: start;
  }
  .feature__list-astronaut,
  .feature__list-diagram,
  .feature__list-clock,
  .feature__list-antenna {
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  .text {
    margin-top: 10px;
    margin-bottom: 0px;
    color: $SecondaryColor;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.feature__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;
  background-color: $BadgeBgColor;
}
