.feature__list {
  width: 270px;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .feature__list-astronaut,
  .feature__list-diagram,
  .feature__list-clock,
  .feature__list-antenna {
    @media screen and (min-width: 480px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  .text {
    margin-top: 10px;
    margin-bottom: 0px;
    color: $SecondaryColor;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.feature__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
  background-color: $BadgeBgColor;
}
