.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $BorderHeader;
  background-color: $mainLightColor;
  .main-nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.menu-btn {
  display: block;
  padding: 10px 15px 10px auto;
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: $MainColor;
  cursor: pointer;
  transition: color $TransitionTimingFunction;

  @include tablet {
    display: none;
  }
}
.menu-btn:hover,
.menu-btn:focus {
  color: $CurrentColor;
}
.contact__icon .icone-close,
.icon-menu {
  padding: 10px;
}

.icon-close {
  display: none;
  margin-left: auto;
  margin-bottom: 30px;
}

.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
