.header {
  border-bottom: 1px solid $BorderHeader;
  background-color: $mainLightColor;
  .main-nav {
    display: flex;
    align-items: center;
  }
}
.menu-btn {
  display: inline-flex;
  padding: 10px 15px 10px auto;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
}
.icone-close,
.icon-menu {
  padding: 10px;
}
.menu-btn .icon-close {
  display: none;
}
.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
