.header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid $BorderHeader;
  background-color: $mainLightColor;

  .main-nav {
    display: flex;
    align-items: center;
    @include mobile-max {
      justify-content: space-between;
    }
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.menu {
  flex-grow: 1;
}
.menu-container {
  @include tablet {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.menu-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: $MainColor;
  z-index: 2;
  cursor: pointer;
  transition: color $TransitionTimingFunction;
  &:hover,
  &:focus {
    color: $CurrentColor;
  }
  @include tablet {
    display: none;
  }
}

.contact__icon .icone-close,
.icon-menu {
  padding: 10px;
}

.icon-close {
  display: none;
  margin-left: auto;
  margin-bottom: 30px;
}

.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
