.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px;
  z-index: 90;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity $TransitionTimingFunction, visibility $TransitionTimingFunction;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 330px) {
    padding: 40px 10px;
    height: 609px;
    width: 96%;
  }

  @media screen and (min-width: 331px) {
    padding: 40px 20px;
    height: 609px;
    width: 96%;
  }
  @include tablet {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
  @include desktop {
    position: relative;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $TransitionTimingFunction;
  }

  background: $mainLightColor;
  box-shadow: $boxShadow;
  border-radius: 4px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: color $TransitionTimingFunction;
  fill: currentColor;
  &:hover,
  &:focus {
    color: $CurrentColor;
  }
}

.modal-title {
  margin: 0px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $MainColor;
}
