.team {
  background-color: $BadgeBgColor;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  @include desktop {
    font-size: 36px;
  }
}
.title--color-dark {
  color: $MainColor;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.team__item {
  background-color: $mainLightColor;
  box-shadow: $boxShadow;
  border-radius: 0px 0px 4px 4px;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.team__item img {
  width: auto;
}
.team__name-img {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  margin: 0px;

  color: $MainColor;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 0px;
  color: $SecondaryColor;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
