.section__title-main {
  @include mobile-max {
    width: 100%;
    padding: 118px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mob.jpg);
  }
  @include tablet {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tab.jpg);
  }
  @include desktop {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.container__title-main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.main__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', $FontFamily;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.61;
  @include mobile {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
  @include tablet {
    max-width: 360px;
  }
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title--color-light {
  color: $mainLightColor;
}
